.table {
  height: 100vh;
  margin-top: 2rem;
}
.table table th,
td {
  padding: 0.5rem 2rem;
}
.table table th {
  background-color: rgb(147, 244, 255);
  letter-spacing: 0.1rem;
  text-align: center;
}
.table table td {
  background-color: rgb(229, 229, 229);
  text-align: center;
}
.table table td input {
  cursor: pointer;
}
